.countAnimate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url("https://res.cloudinary.com/dfcnmxndf/image/upload/v1701051304/Comuna-de-Franck/ne2gsqahgdawctkmltcn.png");
  background-size: 100% 300px; /* Ancho del 100% y altura fija de 300px */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
}
.personas {
  text-align: center;
  border-style: ridge;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #023e8a;
  padding: 20px 10px 10px 10px;
  margin: 20px 10px 10px 10px;
  width: 300px;
  height: 175px;
  text-shadow: 0 0 5px cornflowerblue;
}
.construccion {
  text-align: center;
  border-style: ridge;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #023e8a;
  padding: 15px 10px 10px 10px;
  margin: 20px 10px 10px 10px;
  width: 300px;
  height: 175px;
  text-shadow: 0 0 5px cornflowerblue;
}
.casas {
  text-align: center;
  border-style: ridge;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #023e8a;
  padding: 15px 10px 10px 10px;
  margin: 20px 10px 10px 10px;
  width: 300px;
  height: 175px;
  text-shadow: 0 0 5px cornflowerblue;
}
.desechosReciclados {
  text-align: center;
  border-style: ridge;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #023e8a;
  padding: 15px 10px 10px 10px;
  margin: 20px 10px 10px 10px;
  width: 300px;
  height: 175px;
  text-shadow: 0 0 5px cornflowerblue;
}
@media screen and (max-width: 768px) {
  .countAnimate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://res.cloudinary.com/dfcnmxndf/image/upload/v1701991667/Comuna-de-Franck/buxor5rc1lrerqlkwoec.png");
    background-size: 100% 100%;
    height: auto; /* Ajusta la altura según tus preferencias, 100vh significa 100% del alto de la ventana */
    border-radius: 10px;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat", sans-serif;
  }
  .personas,
  .construccion,
  .casas,
  .desechosReciclados {
    box-sizing: border-box;
    text-align: center;
    border-style: ridge;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #023e8a;
    padding: 15px 10px 10px 10px;
    margin: 20px 10px 10px 10px;
    width: 70%;
    height: 175px;
    text-shadow: 0 0 5px cornflowerblue;
  }
}
@media screen and (max-width: 480px) {
  .countAnimate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://res.cloudinary.com/dfcnmxndf/image/upload/v1701991667/Comuna-de-Franck/buxor5rc1lrerqlkwoec.png");
    background-size: 100% 100%;
    height: auto; /* Ajusta la altura según tus preferencias, 100vh significa 100% del alto de la ventana */
    border-radius: 10px;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat", sans-serif;
  }
  .personas,
  .construccion,
  .casas,
  .desechosReciclados {
    box-sizing: border-box;
    text-align: center;
    border-style: ridge;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #023e8a;
    padding: 15px 10px 10px 10px;
    margin: 20px 10px 10px 10px;
    width: 70%;
    height: 175px;
    text-shadow: 0 0 5px cornflowerblue;
  }
}
